<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Internet permission required for Supabase connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Audio playback permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Device compatibility features - Optimized for maximum compatibility -->
    <uses-feature 
        android:name="android.hardware.touchscreen" 
        android:required="true" />
    <uses-feature 
        android:name="android.hardware.wifi" 
        android:required="false" />
    <uses-feature 
        android:name="android.hardware.telephony" 
        android:required="false" />
    <uses-feature 
        android:name="android.hardware.camera" 
        android:required="false" />
    <uses-feature 
        android:name="android.hardware.location" 
        android:required="false" />
    <uses-feature 
        android:name="android.hardware.sensor.accelerometer" 
        android:required="false" />
    
    <!-- Support for different screen sizes and densities - Enhanced for Indian devices -->
    <supports-screens 
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true" />
    
    <!-- Compatible screens declaration for Play Store visibility on all devices -->
    <!-- This ensures app shows up for OPPO, Vivo, OnePlus, Samsung, Xiaomi devices -->
    <compatible-screens>
        <!-- Small screens: ~426dp x 320dp -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="xxhdpi" />
        <screen android:screenSize="small" android:screenDensity="xxxhdpi" />
        <!-- Normal screens: ~470dp x 320dp (Most common - Redmi, Vivo Y series) -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="xxhdpi" />
        <screen android:screenSize="normal" android:screenDensity="xxxhdpi" />
        <screen android:screenSize="normal" android:screenDensity="280" />
        <screen android:screenSize="normal" android:screenDensity="360" />
        <screen android:screenSize="normal" android:screenDensity="420" />
        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="normal" android:screenDensity="560" />
        <screen android:screenSize="normal" android:screenDensity="640" />
        <!-- Large screens: ~640dp x 480dp (Samsung S series, OnePlus flagships) -->
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="xxhdpi" />
        <screen android:screenSize="large" android:screenDensity="xxxhdpi" />
        <screen android:screenSize="large" android:screenDensity="280" />
        <screen android:screenSize="large" android:screenDensity="360" />
        <screen android:screenSize="large" android:screenDensity="420" />
        <screen android:screenSize="large" android:screenDensity="480" />
        <screen android:screenSize="large" android:screenDensity="560" />
        <screen android:screenSize="large" android:screenDensity="640" />
        <!-- Extra large screens: Tablets and foldables -->
        <screen android:screenSize="xlarge" android:screenDensity="ldpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xxhdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xxxhdpi" />
    </compatible-screens>
    
    <application
        android:label="GitaWisdom"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep link intent filter for password reset -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.hub4apps.gitawisdom" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
